/*!
 * sitegear.navigation-manager.css
 * Sitegear Widget - Navigation Manager - Stylesheet
 * Navigation management widget
 *
 * Sitegear (c) Ben New, Leftclick.com.au
 * See LICENSE file in main directory for information, or visit:
 * http://sitegear.org/
 */

#sitegear-navigation-manager-dialog { overflow: hidden; }

#sitegear-navigation-manager-dialog .jstree { overflow-y: auto; overflow-x: auto; overflow: auto; }
#sitegear-navigation-manager-dialog .sitegear-toolbar .sitegear-toolbar-list { border-right: none; }

#sitegear-navigation-manager-dialog .sitegear-navigation-manager-details-panel { padding: 1em; }
#sitegear-navigation-manager-dialog .sitegear-navigation-manager-details-panel h2 { margin-top: 0; }
#sitegear-navigation-manager-dialog .sitegear-navigation-manager-details-panel a { cursor: pointer; }
#sitegear-navigation-manager-dialog .sitegear-navigation-manager-details-panel .sitegear-navigation-manager-instruction { font-size: smaller; }
#sitegear-navigation-manager-data-editor input, #sitegear-navigation-manager-data-editor select, #sitegear-navigation-manager-data-editor textarea { width: 100%; }
